{% extends "dashboard/customer/customer_dashboard_base.html" %}
{% load static %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static '/css/add_payee.css' %}">
{% endblock css %}

{% block javascript %}
<script>
    // This function stops the user from submitting if they change the field values after checking the payee
    $(document).ready(function(){
          $("input[name='first_name'], input[name='last_name'], input[name='account_num'], input[name='sort_code']").keyup(function(){
                document.getElementById("payee_check").hidden = true;
                document.getElementById("submit").hidden = true;
                document.getElementById("payee_btn").hidden = false;
          });
        });

    // AJAX method which posts the field values to the check_payee() view which returns a HttpResponse if a payee exists
    function check_function(){
        var firstname = $("input[name='first_name']").val();
        var lastname = $("input[name='last_name']").val();
        var account_num = $("input[name='account_num']").val();
        var sort_code = $("input[name='sort_code']").val();
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                if(xhttp.response === 'Valid'){
                    document.getElementById("payee_check").hidden = false;
                    document.getElementById("payee_check").innerHTML = "Payee Exists!"
                    document.getElementById("submit").hidden = false;
                    document.getElementById("payee_btn").hidden = true;
                }else if (xhttp.response === 'Exists') {
                    alert("You have already added this payee.")
                }else if (xhttp.response === 'Same') {
                    alert("You cannot add yourself as a payee!")
                }else if (xhttp.response === 'None') {
                    document.getElementById("payee_check").hidden = false;
                    document.getElementById("payee_check").innerHTML = "Payee does not exist!"
                }
            }
        };
        var json_account = {
            'firstname':firstname,
            'lastname':lastname,
            'account_num':account_num,
            'sort_code':sort_code
        }
        xhttp.open("POST", '/dashboard/checkpayee/');
        xhttp.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
        xhttp.send(JSON.stringify(json_account));
    }

    function modal_start(){
        $("#cardDetails").modal()
    }

    function verify_card_details(){
        var expiry_date = document.getElementById('expDate').value;
        var CVC = document.getElementById('CVC').value;
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                if(xhttp.response === 'Valid'){
                    $("#cardDetails").modal('hide');
                    document.getElementById("payee-form").submit();
                }else if(xhttp.response === 'Frozen'){
                    var temp = document.getElementById("verification-status");
                    temp.hidden = false;
                    temp.innerText = "Your card is frozen.";
                }else if(xhttp.response === 'Invalid'){
                    var status = document.getElementById("verification-status");
                    status.hidden = false;
                    status.innerText = "Your card details were incorrect please try again.";
                }else {
                    alert("Your card details are incorrect.")
                }
            }
        };
        var json_card_details = {
            'expiry_date':expiry_date,
            'CVC':CVC,
        }
        xhttp.open("POST", '/dashboard/verify-card/');
        xhttp.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
        xhttp.send(JSON.stringify(json_card_details));
    }

</script>
{% endblock javascript %}

{% block content %}
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 col-xl-8">
        <div class="jumbotron payee-jumbo">
            <form method="POST" onsubmit="return verify_card_details()" id="payee-form">
                {% csrf_token %}
                <h4>Add a payee</h4>
                <hr>
                <table>
                    {{ form|crispy }}
                </table>
                <p hidden id="payee_check"></p>
            </form>
            <div class="form-group">
                <button class="btn btn-primary" id="submit" hidden onclick="modal_start()">Add</button>
                <button onclick="check_function()" class="btn btn-dark" id="payee_btn">Check Payee</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="cardDetails" tabindex="-1" role="dialog" aria-labelledby="cardDetailsModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="cardDetailsLabel">Verify Your Card Details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <label for="CVC">CVC</label><br>
        <input type="text" id="CVC"><br>

        <label for="expDate">Expiry Date</label><br>
        <input type="date" id="expDate"><br>

          <p id="verification-status" hidden></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" onclick="verify_card_details()">Verify</button>
      </div>
    </div>
  </div>
</div>
{% endblock content %}