{% extends "dashboard/customer/customer_dashboard_base.html" %}
{% block content %}
    <h3>Welcome to your dashboard {{ user.first_name }}!</h3>
    <ul>
        <li>Username: {{ user.username }}</li>
        <li>Firstname: {{ user.first_name }}</li>
        <li>Surname: {{ user.last_name }}</li>
        <li>Email: {{ user.email }}</li>
        <li>Sort Code: {{ user.customer.sort_code }}</li>
        <li>Account Number: {{ user.customer.account_num }}</li>
        <li>Active?: {{ user.is_active }}</li>
        <li><strong>Balance: £{{ user.customer.balance }}</strong></li>
    </ul>
{% endblock content %}
{% block transaction %}
    <h3>Your transactions:</h3>
    <br>
    <br>
    <table id="transactions_table" class="table-responsive table-hover table-striped" width="50%" style=" width: 100%;font-size: 2vw">
        <tr>
            <th style="padding:0 15px 0 15px;">Date Time</th>
            <th style="padding:0 15px 0 15px;">Amount</th>
            <th style="padding:0 15px 0 15px;">New Balance</th>
            <th style="padding:0 15px 0 15px;">Where?</th>
            <th style="padding:0 15px 0 15px;">Category</th>
            <th style="padding:0 15px 0 15px;">Direction</th>
            <th style="padding:0 15px 0 15px;">Comment</th>
        </tr>
        {% for t in transaction_list %}
            <tr>
              <td style="padding:0 15px 0 15px;">{{ t.TransactionTime }}</td>
              <td style="padding:0 15px 0 15px;">{{ t.Amount }}</td>
              <td style="padding:0 15px 0 15px;">{{ t.NewBalance }}</td>
              <td style="padding:0 15px 0 15px;">{{ t.Termini }}</td>
              <td style="padding:0 15px 0 15px;">{{ t.Category }}</td>
              <td style="padding:0 15px 0 15px;">{{ t.Direction }}</td>
              <td style="padding:0 15px 0 15px;">{{ t.Comment }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}