{% extends "dashboard/customer/customer_dashboard_base.html" %}
{% load static %}

{% block javascript %}
<script>
    $(document).ready(function(){
      var card_num = '{{ card.first.CardNum }}';
      let mask_card_num = 'xxxxxxxxxxx';
      mask_card_num = mask_card_num+card_num.substring(11,15);
      document.getElementById("card_num_id").innerText = mask_card_num;

    });
</script>
{% endblock javascript %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <h4>Welcome to your dashboard {{ user.first_name }}!</h4>
                <ul>
                    <li>Username: {{ user.username }}</li>
                    <li>Firstname: {{ user.first_name }}</li>
                    <li>Surname: {{ user.last_name }}</li>
                    <li>Email: {{ user.email }}</li>
                    <li>Sort Code: {{ user.customer.sort_code }}</li>
                    <li>Account Number: {{ user.customer.account_num }}</li>
                    <li>Active?: {{ user.is_active }}</li>
                    <li><strong>Balance: £{{ user.customer.balance }}</strong></li>
                </ul>
            </div>
            <div class="col-md-4">

            </div>
            <div class="col-md-4 card_div">
                <h6>Last login: {{ user.last_login }}</h6>
                {% if card %}
                    <div class="panel">
                      <div class="card stucard">
                        <div class="card_field_right card_company_name">StuBank</div>
                        <div class="card_field_right card_type">Digital Debit Card</div>
                        <div class="card_field_left card_num" id="card_num_id"></div>
                        <div class="card_field_central" id="card_num_id">
                            {{ user.customer.sort_code }}
                            <span style="float:right;">
                                {{ user.customer.account_num }}
                            </span>
                        </div>
                        <div class="card_field_left card_owner_logo">
                            {{ user.first_name }} {{ user.last_name }}
                            <span style="float:right;">
                                <i class="fab fa-cc-visa fa-lg"></i>
                            </span>
                        </div>
                      </div>
                    </div>
                {% else %}
                    <a href="{% url 'getcard' %}">Get your card here!</a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock content %}
{% block transaction %}
    <div class="row">
        <div class="col-md-6">
            <h3>Your transactions In:</h3>
            {% for c in payee_money_in %}
                <div class="card">
                  <div class="card-header">
                      <span>{{ c.Termini }}</span>
                      <span style="float:right;">
                        £{{ c.Amount }}
                        <small>(£{{ c.NewBalance }})</small>
                      </span>
                  </div>
                  <div class="card-body">
                    <p class="card-text">
                        {{ c.Comment }}
                        <span style="float:right;">
                            {{ c.Method }}<i class="fas fa-arrow-down"></i><br>
                            <small>{{ c.TransactionTime }}</small><br>
                        </span>
                        <br>
                        <small>{{ c.Category }}</small>
                    </p>
                  </div>
                </div>
            {% endfor %}
        </div>
        <div class="col-md-6">
            <h3>Your transactions Out:</h3>
            {% for c in payee_money_out %}
                <div class="card">
                  <div class="card-header">
                      <span>{{ c.Termini }}</span>
                      <span style="float:right;">
                        £{{ c.Amount }}
                        <small>(£{{ c.NewBalance }})</small>
                      </span>
                  </div>
                  <div class="card-body">
                    <p class="card-text">
                        {{ c.Comment }}
                        <span style="float:right;">
                            {{ c.Method }}<i class="fas fa-arrow-up"></i><br>
                            <small>{{ c.TransactionTime }}</small><br>
                        </span>
                        <br>
                        <small>{{ c.Category }}</small>
                    </p>
                  </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}