{% extends "dashboard/customer/customer_dashboard_base.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static '/css/expenditure_overview.css' %}">
{% endblock css %}

{% block content %}

<div class="container" id="main">

        <div class="text-center">
            <div class="btn-group" role="group" id="buttonGroup">
                <button type="button" class="btn btn-outline-primary" onclick="showCategories()">Category</button>
                <button type="button" class="btn btn-outline-primary" onclick="showTermini()">Termini</button>
                <button type="button" class="btn btn-outline-primary" onclick="showSpending()">Spending</button>
            </div>
        </div>

        <div id="container-categories">
            <h3>Category Overview</h3>
            <canvas id="bar-chart-categories"></canvas>
        </div>

        <div id="container-termini">
            <h3>Termini Overview</h3>
            <canvas id="bar-chart-termini"></canvas>
        </div>

        <div id="container-spending">
            <h3>Spending Overview</h3>
            <canvas id="bar-chart-spending"></canvas>
        </div>
</div>

<script>
    var c = document.getElementById("container-categories");
    var t = document.getElementById("container-termini");
    var s = document.getElementById("container-spending");

    function showCategories() {
        c.style.display = "block";
        t.style.display = "none";
        s.style.display = "none";

    }

    function showTermini() {
        c.style.display = "none";
        t.style.display = "block";
        s.style.display = "none";

    }

    function showSpending() {
        c.style.display = "none";
        t.style.display = "none";
        s.style.display = "block";

    }
</script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
<script>

var red_fade = 'rgba(255, 0, 0, 0.5)'
var red = 'rgba(255, 0, 0, 1)'

var orange_fade = 'rgba(255, 163, 43, 0.5)'
var orange = 'rgba(255, 163, 43, 1)'

var purple_fade = 'rgba(153, 102, 255, 0.5)'
var purple = 'rgba(153, 102, 255, 1)'

var green_fade = 'rgba(0, 255, 0, 0.5)'
var green = 'rgba(0, 255, 0, 1)'


var categories_config = {
  type: 'bar',
  data: {
    datasets: [{
      data: {{ category_data|safe }}.map(function(e){return (Math.round(e*100)/100)}),
      backgroundColor: purple_fade,
      borderColor: purple,
      borderWidth: 1,
      label: 'Transactions'
    }],
    labels: {{ category_labels|safe }}
  },
  options: {
    responsive: true,
    legend: {
        display: false
    },
    scales: {
yAxes: [{
  scaleLabel: {
    display: true,
    labelString: 'Amount Spent - £'
  }
}]
}
  }
};

var termini_config = {
  type: 'bar',
  data: {
    datasets: [{
      data: {{ termini_data|safe }}.map(function(e){return (Math.round(e*100)/100)}),
      backgroundColor: orange_fade,
      borderColor: orange,
      borderWidth: 1,
      label: 'Transactions'
    }],
    labels: {{ termini_labels|safe }}
  },
  options: {
    responsive: true,
    legend: {
        display: false
    },
    scales: {
yAxes: [{
  scaleLabel: {
    display: true,
    labelString: 'Amount Sent - £'
  }
}]
}
  }
};


var spending_config = {
  type: 'horizontalBar',
  data: {
    datasets: [{
      data: {{ out_in_data|safe }}.map(function(e){return (Math.round(e*100)/100)}),
      backgroundColor: [red_fade, green_fade],
      borderColor: [red, green],
      borderWidth: 1,
      label: 'Spending'
    }],
    labels: {{ out_in_labels|safe }}
  },
  options: {
    responsive: true,
    legend: {
        display: false
    },
    scales: {
xAxes: [{
  scaleLabel: {
    display: true,
    labelString: 'Amount - £'
  },
  ticks: {
            beginAtZero: true
    }
}]
}
  }
};


window.onload = function() {
    var bar_categories = document.getElementById('bar-chart-categories').getContext('2d');
    window.myBar = new Chart(bar_categories, categories_config);

    var bar_termini = document.getElementById('bar-chart-termini').getContext('2d');
    window.myBar = new Chart(bar_termini, termini_config);

    var bar_spending = document.getElementById('bar-chart-spending').getContext('2d');
    window.myBar = new Chart(bar_spending, spending_config);

    showCategories();
};

</script>


{% endblock content %}

