{% extends "dashboard/customer/customer_dashboard_base.html" %}
{% load static %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static '/css/help.css' %}">
{% endblock css %}

{% block javascript %}
<script>
    function getHelp(){
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
            if (this.readyState === 4 && this.status === 200) {
                if(xhttp.responseText==='None'){
                    document.getElementById('helper-status').innerText = "A helper could not be found at the moment.";
                }else{
                    var helper_id = xhttp.responseText;
                    var a = document.getElementById('livechat_link');
                    a.href = "{% url 'livechat' 5%}".replace(/5/, helper_id.toString())
                }
            }
        }
        xhttp.open("GET", '{% url 'gethelper' %}');
        xhttp.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
        xhttp.send();
    }
</script>
{% endblock javascript %}

{% block content %}
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-6 col-xl-6 col-centered">
        <div class="card">
            <div class="card-header main-header">
                <h4>FAQs</h4>
            </div>
            <div class="card-body cards">
                <div class="card faq-card">
                    <div class="card-header">
                        <span>How to contact a Helper</span>
                        <span style="float:right;">
                            <a data-toggle="collapse" href="#card1" title="Read More" aria-controls="card1"><i class="fa extend" aria-hidden="true"></i></a>
                        </span>
                    </div>
                    <div class="collapse" id="card1">
                        <div class="card-body">
                            1.Login (if you have not already).
                            2.Select “help” from the bar at the top.
                            3.Press "connect to helper" and a helper will be assigned to you.
                        </div>
                    </div>
                </div>
                <div class="card faq-card">
                    <div class="card-header">
                        <span>What to do if you think someone has access to your account</span>
                        <span style="float:right;">
                            <a data-toggle="collapse" href="#card2" title="Read More" aria-controls="card2"><i class="fa extend" aria-hidden="true"></i></a>
                        </span>
                    </div>
                    <div class="collapse" id="card2">
                        <div class="card-body">
                            1.Immidiately freeze your card.
                            2.Contact a Helper as soon as possible.

                        </div>
                    </div>
                </div>
                <div class="card faq-card">
                    <div class="card-header">
                        <span>How do I transfer money to someone?</span>
                        <span style="float:right;">
                            <a data-toggle="collapse" href="#card3" title="Read More" aria-controls="card3"><i class="fa extend" aria-hidden="true"></i></a>
                        </span>
                    </div>
                    <div class="collapse" id="card3">
                        <div class="card-body">
                            To transfer money to someone you must first add them as one of your payee's <a href="{% url 'addpayee' %}">here</a>. Once added, click the 'Make a Transfer' button on either the dashboard or your payee list and your payee will be visible in the dropdown of payees.
                        </div>
                    </div>
                </div>
                <div class="card faq-card">
                    <div class="card-header">
                        <span>Where is my card information?</span>
                        <span style="float:right;">
                            <a data-toggle="collapse" href="#card4" title="Read More" aria-controls="card4"><i class="fa extend" aria-hidden="true"></i></a>
                        </span>
                    </div>
                    <div class="collapse" id="card4">
                        <div class="card-body">
                            For security reasons StuBank does not display any card details on this site.
                            You should already have your physical card.
                        </div>
                    </div>
                </div>
                <div class="card faq-card">
                    <div class="card-header">
                        <span>Is StuBank a secure website?</span>
                        <span style="float:right;">
                            <a data-toggle="collapse" href="#card5" title="Read More" aria-controls="card5"><i class="fa extend" aria-hidden="true"></i></a>
                        </span>
                    </div>
                    <div class="collapse" id="card5">
                        <div class="card-body">
                            At StuBank our security is our first priority, we achieve this through the use of
                            2-Factor-Authentication during user login, encryption of passwords using a SHA256 hash and
                            use of TLS to ensure the encryption of data transmitted between you and our servers.
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-6 col-xl-6 col-centered">
        <div class="card livechat">
            <div class="card-header">
                <h4>Live Chat</h4>
            </div>
            <div class="card-body">
                Need more help? Connect to a helper to discuss account issues and freeze your account or card.<br>
                <small style="font-style: italic">Once you click the 'Get Help' button a link to the live chat will appear below.</small>
                <br>
                <br>
                <button class="btn" onclick="getHelp()">Get Help</button>
                <br>
                <div id="helper_status">
                    <a id="livechat_link">Livechat link</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}