{% extends "dashboard/customer/customer_dashboard_base.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static '/css/livechat.css' %}">
{% endblock css %}

{% block javascript %}
    <script>
    // AJAX method which posts the field values to the check_payee() view which returns a HttpResponse if a payee exists
    function send_message(){
        var message = document.getElementById("message-input").value;
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
            if (this.readyState === 4 && this.status === 200) {
                if(xhttp.response === 'Added'){
                    document.getElementById("message-input").value = ""
                }
            }
        };
        xhttp.open("POST", '{% url 'addmessage' other_user.id%}');
        xhttp.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
        xhttp.send(JSON.stringify(message));
    }
    </script>
{% endblock javascript %}

{% block content %}
    <div class="row">
        <div class="col-md-4">
            <div class="header"><h3>{{ other_user.username }}</h3></div>
            <br>
            <div class="message-area">
                {% for x in messages %}
                <div class="message-{% if x.sender == request.user %}right{% else %}left{% endif %}">
                    <div class="sent-by"><strong>{{ x.sender.username }}</strong><small> - {{ x.updated_at|date:"d/m/Y h:m A" }}</small></div>
                    <div class="content">{{ x.message }}</div>
                </div>
                {% endfor %}
            </div>
            <div class="input-area">
                <input type="text" id="message-input">
                <button onclick="send_message()" class="btn" id="msg_btn">Send</button>
            </div>
        </div>
    </div>
{% endblock content %}