{% extends "dashboard/customer/customer_dashboard_base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static '/css/transfer.css' %}">
{% endblock css %}

{% block javascript %}
<script>
    var valid = false;
    const available_balance = {{ user.customer.available_balance }};
    var round = 0
     $(document).ready(function(){
          $("input[name='Amount']").keyup(function(){
              let amount = this.value;
              let sum = available_balance-amount;
              let check_box = document.getElementById('pot_check_box');
              if (sum<0){
                  alert("You do not have £"+amount+" in your bank account.")
                  document.getElementById('submit').disabled = true;
                  document.getElementById("new_balance").innerText = "£"+(sum);
                  document.getElementById("new_balance").style.color='red';
                  valid = false;
              }else if (amount<0){
                  alert("You cannot transfer a negative amount!")
                  document.getElementById('submit').disabled = true;
                  document.getElementById("new_balance").innerText = "£"+available_balance+".00";
                  valid = false;
              }else if (amount<1.00){
                  alert("You must transfer an amount more than or equal to £1.00.")
                  document.getElementById('submit').disabled = true;
                  document.getElementById("new_balance").innerText = "£"+available_balance+".00";
                  valid = false;
              } else {
                  document.getElementById('submit').disabled = false;
                  document.getElementById("new_balance").style.color='black';
                  document.getElementById("new_balance").innerText = "£"+(sum);
                  valid = true;
              }
              displayRoundUp(amount);
              checkCheckBox(checkbox);
          });
     });

     function amountCheck(){
         return valid;
     }

     function modal_start(){
        var amount = document.getElementById("id_Amount").value;
        if (amount >= 100){
            $("#cardDetails").modal()
        }else {
            document.getElementById("transfer-form").submit();
        }
    }

    function verify_card_details(){
        var expiry_date = document.getElementById('expDate').value;
        var CVC = document.getElementById('CVC').value;
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                if(xhttp.response === 'Valid'){
                    $("#cardDetails").modal('hide');
                    document.getElementById("transfer-form").submit();
                }else {
                    var status = document.getElementById("verification-status");
                    status.hidden = false;
                    status.innerText = "Your card details were incorrect please try again.";
                }
            }
        };
        var json_card_details = {
            'expiry_date':expiry_date,
            'CVC':CVC,
        }
        xhttp.open("POST", '/dashboard/verify-card/');
        xhttp.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
        xhttp.send(JSON.stringify(json_card_details));
    }

    function checkCheckBox(checkbox) {
        var pot_div = document.getElementById("pot-form");
        if (checkbox.checked) {
            pot_div.style.display = "block";
            document.getElementById('amount').value = round;
        } else {
            pot_div.style.display = "none";
            document.getElementById('amount').value = 0;
        }
    }

    function displayRoundUp(amount) {
        var checkbox_div = document.getElementById("check-box");
        rounded_amount = Math.ceil(amount);
        round = Math.round((rounded_amount - amount) * 100) / 100;
        check_box = document.getElementById('pot_check_box');
        document.getElementById('amount').value = 0;

        if (round > 0) {
            checkbox_div.style.display = "block";
        } else {
            checkbox_div.style.display = "none";
        }
        document.getElementById('round-up-text').innerText = "Round up transaction by £" + round + "?";
    }

    function toggleCheckBox() {
        var checkbox_div = document.getElementById("check-box");
    }

    window.onload = function() {
        var pot_div = document.getElementById("pot-form");
        var checkbox_div = document.getElementById("check-box");

        pot_div.style.display = "none";
        checkbox_div.style.display = "none";

        document.getElementById("transfer-form").reset();
    }
</script>
{% endblock javascript %}
{% block content %}
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 col-xl-8">
        <div class="jumbotron transfer-jumbo">
            <form method="POST" onsubmit="return amountCheck()" id="transfer-form">
                {% csrf_token %}
                <h4>Transfer to payee</h4>
                <hr>
                <h3 id="new_balance">£{{ user.customer.available_balance }}</h3><small style="font-style: italic;">Available Balance</small>
                <hr>
                <div id="main-form">
                    <h3>Payee</h3>
                    {{ form.Payee }}
                    <h3>Amount</h3>
                    {{ form.Amount }}
                    <h3>Comment</h3>
                    {{ form.Comment }}
                    <h3>Category</h3>
                    {{ form.Category }}<br><br>
                </div>
                    <div id="check-box">
                        <input type="checkbox" id="pot_check_box" name="pot_check_box" onclick="checkCheckBox(this)">
                        <label for="pot_check_box" id="round-up-text"></label>
                    </div>
                    <div id="pot-form">
                        <h3>Select Money Pot</h3>
                        {{ form.pot }}
                        <input type="hidden" id="amount" name="amount" value="">
                    </div>
            </form>
            <div class="form-group">
                <button class="btn btn-outline-success" id="submit" onclick="modal_start()">Transfer</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="cardDetails" tabindex="-1" role="dialog" aria-labelledby="cardDetailsModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="cardDetailsLabel">Verify Your Card Details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <label for="CVC">CVC</label><br>
        <input type="text" id="CVC"><br>

        <label for="expDate">Expiry Date</label><br>
        <input type="date" id="expDate"><br>

          <p id="verification-status" hidden></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" onclick="verify_card_details()">Verify</button>
      </div>
    </div>
  </div>
</div>
{% endblock content %}