{% extends "dashboard/helper/helper_dashboard_base.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static '/css/transaction.css' %}">
{% endblock css %}

{% block content %}
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <div class="jumbotron transaction-jumbo">
            <h3>Here are the transactions for {{ transaction_list.first.Customer.user.first_name }} {{ transaction_list.first.Customer.user.last_name }}</h3>
            {% for i in transaction_list %}
                        <div class="card transaction_card" style="margin-bottom: 10px">
                          <div class="card-header">
                              <span style="font-weight: bold">{{ i.Termini }}</span>
                              <span style="float:right; font-weight: bold" >
                                £{{ i.Amount }}
                                <small>(£{{ i.NewBalance }})</small>
                                    {% if i.Direction == 'In' %}
                                        <i class="fas fa-arrow-down fa-lg"></i>
                                    {% else %}
                                        <i class="fas fa-arrow-up fa-lg"></i>
                                    {% endif %}
                              </span>
                                <br>
                                <small>{{ i.TransactionTime|date:"d/m/Y h:m A" }}</small>
                          </div>
                          <div class="card-body">
                            <p class="card-text">
                                {{ i.Comment }}
                                <span style="float:right;">
                                    {{ i.Method }}
                                    <br>
                                    {% if i.Method == 'Card Transaction' %}
                                        <small>{{ i.Card.MaskCardNum }}</small>
                                    {% elif i.Method == 'Bank Transfer' and i.Direction == 'Out'%}
                                        <small>{{ i.Payee.customer.sort_code }} {{ i.Payee.customer.account_num }}</small>
                                    {% endif %}
                                </span>
                                <br>
                                <small>{{ i.Category }}</small>
                            </p>
                          </div>
                        </div>
                    {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}