reportlab==3.5.57
asgiref==3.3.1
click==7.1.2
colorama==0.4.4
Django==3.1.4
django-otp==1.0.2
mysqlclient==2.0.1
Pillow==8.0.1
pip-tools==5.4.0
pytz==2020.4
qrcode==6.1
six==1.15.0
sqlparse==0.4.1
django-crispy-forms==1.10.0
