    .col-centered{
float: none;
margin: 0 auto;
margin-bottom: 35px;
}

.cards{
  border-radius: .25rem;
  border: 0.5px solid rgba(0,0,0,.125);
  padding: 0;
}

.main-header{
    background-color: #eee;
    text-align: center;
}

.faq-card{
  border-radius: 0;
  border: 0;
}

.card-body {
    background-color: white;
}

[data-toggle="collapse"] .fa:before {
  content: "\f077";
}

[data-toggle="collapse"].collapsed .fa:before {
  content: "\f078";
}

.extend{
    color: black;
}

.livechat{
    text-align: center;
}