.login-jumbo{
    border: 1px solid rgba(0,0,0,.125);
    background: #FFFFFF;
    box-shadow: 10px 10px 10px rgba(0,0,0, 0.5);
    min-width: 356px;
    text-align: center;
    padding-top: 15px;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.submit-row{
    margin-top: 15px;
    margin-bottom: 5px;
}