.transaction-jumbo{
  background: #FFFFFF;
  box-shadow: 10px 10px 10px rgba(0,0,0, 0.5);
  min-width: 356px;
  padding:35px;
  border: 2px solid rgba(0,0,0,.1);
}

.fa-arrow-down{
  padding-left: 40px;
  color: #228B22;
}

.fa-arrow-up{
  padding-left: 40px;
  color: #8B0000;
}