{% extends "accounts/base.html" %}
{% load static %}

{% block content %}
<style>
.backgroundStyle {
    border-radius: 9px;
    margin-top:20px;
    margin-bottom: 5px;
    padding: 15px 19px;
    background-color: #fff;
    box-shadow: 0 0 10px 0 rgba(0,0,0,.25);
    border: none;
}
</style>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 col-xl-8">
            <div class="jumbotron title-jumbo">
                <h1>Welcome to StuBank!</h1>
                <p>StuBank is a secure and easy way to store you money, and start saving today!</p>
                <a class="btn btn-primary" href="{% url 'register' %}">Get A StuBank Account</a>
            </div>
        </div>
    </div>
    <div class="row">
            <div style="background-color: #fff;" onmouseover="this.style.background='#eee'"  onmouseout="this.style.background='#fff';" class="jumbotron col-sm m-2">
                <h3>Not sure if StuBank is for you?</h3> 
                <p>
                    Find out the <a href="info"> benefits</a> of having a StuBank account.
                </p>
                </div>
            <div style="background-color: #fff;" onmouseover="this.style.background='#eee'"  onmouseout="this.style.background='#fff';" class="jumbotron col-sm m-2">
                <h3>Got a problem?</h3>
                <p>
                    See our <a href="info">FAQ's </a>page,<br>
                    or <a href="login">login</a> to chat to one of our team.
                </p>
            </div>
            <div style="background-color: #fff;" onmouseover="this.style.background='#eee'"  onmouseout="this.style.background='#fff';" class="jumbotron col-sm m-2">
                <h3>Interested in us?</h3>
                <p>
                    Click <a href="info">here</a> to find out more about us!
                </p>
        </div>
    </div>
{% endblock %}