{% extends "accounts/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<script>
 
</script>
    <div class="row">
        <div class= "col-sm-4"></div>
            <div class= "col-sm-4">
    
    </fieldset>
    <form method="POST" style="text-align:center">
        <fieldset>
            {% csrf_token %}
            <table>
                {{ form|crispy }}
            </table>
            <div class="submit-row">
                <button type="submit">Login</button>
            </div>
    </form>
    <p><a href="{% url 'password_reset' %}">Forgot password?</a></p>
    </fieldset>
    </div>
</div>
    


{% endblock content %}