{% extends "accounts/base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static '/css/register.css' %}">
{% endblock css %}

{% block content %}
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-10 col-lg-7 col-xl-7 col-centered">
        <div class="jumbotron register-jumbo">
            <form method="POST">
                {% csrf_token %}
                <h4>Join Today</h4>
                <hr>
                    <table>
                        {{ form|crispy }}
                    </table>
                <div class="form-group">
                    <button class="btn btn-outline-info" type="submit">Sign Up</button>
                </div>
            </form>
            <div class="border-top pt-3">
                <small class="text-muted">
                    Already Have An Account? <a class="ml-2" href="{% url 'login' %}">Sign In</a>
                </small>
            </div>
        </div>
    </div>
</div>

{% endblock content %}