{% extends 'accounts/base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static '/css/pass_reset.css' %}">
{% endblock css %}

{% block content %}
<div class="row">
    <div class="col-centered">
        <div class="jumbotron reset-jumbo">
          <p>
            We've emailed you instructions for resetting your password, if an account exists with the email you entered.
            You should receive them shortly.
          </p>
          <p>
            If you don't receive an email, please make sure you've entered the address you registered with,
            and check your spam folder.
          </p>
        </div>
    </div>
</div>
{% endblock %}