{% extends 'accounts/base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static '/css/pass_reset.css' %}">
{% endblock css %}

{% block content %}
<div class="row">
    <div class="col-xs-8 col-sm-8 col-md-6 col-lg-5 col-xl-5 col-centered">
        <div class="jumbotron reset-jumbo">
          <p>
            Your password has been set. You may go ahead and <a href="{% url 'login' %}">login</a> now.
          </p>
        </div>
    </div>
</div>
{% endblock %}