<!DOCTYPE html>
<html>
<style>
    </style>
<body>
    <div class="center">
        <img src="monke.jpg" alt="Monkey">
        <form action="">
            <fieldset>
                <label for="fname">First name:</label>
                <input type="text" id="fname" name="fname"><br><br>

                <label for="lname">Last name:</label>
                <input type="text" id="lname" name="lname"><br><br>

                <label for="email">Email:</label>
                <input type="text" id="email" name="email"><br><br>

                <label for="username">Username:</label>
                <input type="text" id="username" name="username"><br><br>

                <label for="password">Password:</label>
                <input type="password" id="password" name="password"><br><br>
                <!-- <MonkeyButton type="submit">Submit</MonkeyButton> -->
            </fieldset>
        </form>
        <MonkeyButton2>Submit</MonkeyButton2>
    </div>
</body>
</html>