{% extends "dashboard/helper/helper_dashboard_base.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static '/css/helper_chats.css' %}">
{% endblock css %}

{% block content %}
    <h3>Here are your live chats with customers {{ user.first_name }}</h3>
    <div class="row">
        <div class="col-md-3">
            {% for livechat in livechats%}
                <div class="card" style="margin-bottom:40px">
                    <div class="card-header">
                        <span>
                            {{ livechat.customer.first_name }} {{ livechat.customer.last_name }}
                        </span>
                        <span style="float:right;">
                            <p>Active&nbsp;&nbsp;<i class="fas fa-circle"></i></p>
                        </span>
                    </div>
                    <div class="card-body">
                        <a href="{% url 'livechat' livechat.customer.pk %}">Connect</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}