{% extends "dashboard/customer_dashboard_base.html" %}
{% block content %}
{% if user.is_authenticated and user.is_customer%}
    <h3>Welcome to your dashboard {{ user.first_name }}!</h3>
    <ul>
        <li>Username: {{ user.username }}</li>
        <li>Firstname: {{ user.first_name }}</li>
        <li>Surname: {{ user.last_name }}</li>
        <li>Email: {{ user.email }}</li>
        <li>Sort Code: {{ user.customer.sort_code }}</li>
        <li>Account Number: {{ user.customer.account_num }}</li>
        <li><strong>Balance: £{{ user.customer.balance }}</strong></li>
    </ul>
{% else %}
    <h3>Not authenticated</h3>
{% endif %}
{% endblock content %}